.dark-theme {
  .chip-wrapper__bggray {
    background-color: $dark-sub3;
  }
  .chip-wrapper__bgsucess {
    background-color: $success !important
  }
  .chip-wrapper__bgabsentpink {
    background-color: $danger-sub2 !important 
  }
  .chip-wrapper__bgabsent {
    background-color: $warning !important 
  }
  .chip-wrapper {
    &__bgsucess {
      span {
        color: $white !important;
      }
    }
    &__bgabsent {
      span {
        color: $white !important;
      }
    }
    &__bgabsentpink {
      span {
        color: $white !important;
      }
    }
  }
  .chip-wrapper__bgdefault {
    background-color: $gray1;
    border: 1px solid $dark;
    border-radius: 6px;
    svg {
      fill: $secondary-sub2 !important;
    }
    span {
      color: $secondary-sub3 !important;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .chip-wrapper__bgvacation {
    background-color: $primary;
    svg {
      fill: $white !important;
    }
    span {
      color: $secondary-sub3 !important;
    }
  }
  .chip-wrapper__bgpastdue {
    background-color: $dark-sub3;
    svg {
      fill: $white !important;
    }
    span {
      color: $secondary-sub3 !important;
    }
  }
  .button-wrapper-punch {
    span {
      border-radius: 16px;
      padding: 4px 8px;
      background-color: #eee;

      &.online {
        background-color: #d6f6d5;
        color: $success !important;
      }
    }
  }
}
