.dark-theme {
  .chip-wrapper__bggray {
    background-color: $dark-sub3;
  }
  .chip-wrapper__bgpastdue {
    background-color: $primary-24-sub2;
  }
  .chip-wrapper__bgabsent {
    background-color: $warning-sub3 !important;
  }
  .chip-wrapper__bgabsentpink {
    background-color: $danger-sub3 !important;
  }
  .chip-wrapper {
    &__bgsucess {
      span {
        color: $success !important;
      }
    }
    &__bgabsent {
      span {
        color: $orange !important;
      }
    }
    &__bgpastdue {
      span {
        color: $primary !important;
      }
    }
    &__bgabsentpink {
      span {
        color: $danger !important;
      }
    }
  }
  .chip-wrapper__bgdefault {
    background-color: $dark-sub3;
    border: 1px solid $dark;
    border-radius: 6px;
    svg {
      fill: $secondary-sub2 !important;
    }
    span {
      color: $secondary-sub3 !important;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .chip-wrapper__bgvacation {
    background-color: $primary;
    svg {
      fill: $white !important;
    }
    span {
      color: $secondary-sub3 !important;
    }
  }
  .chip-wrapper__default {
    background-color: $dark;
    border-radius: 4px;
    span {
      color: $gray4 !important;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .button-wrapper-punch {
    span {
      border-radius: 16px;
      padding: 4px 8px;
      background-color: #eee;

      &.online {
        background-color: #d6f6d5;
        color: $success !important;
      }
    }
  }
  .notify-highlighter {
    &__bgdefault {
      background-color: $dark-sub4;
      span {
        color: $white !important;
      }
    }
  }
}
