.button-override {
  .button {
    display: flex;
    justify-content: space-between;
    &--success-light {
      background-color: $success !important;
      color: #0d300b;
      svg {
        fill: #0d300b !important;
      }
    }
    &--warning-light {
      background-color: #ebe700 !important;
      color: #757300;
      // border: 1px solid #ffab00 !important;
      svg {
        fill: #757300 !important;
      }
    }
    &--pastdue-light {
      background-color: #ffab00 !important;
      color: #805500;
      // border: 1px solid #ffab00 !important;
      svg {
        fill: #805500 !important;
      }
    }
    &--danger-light {
      background-color: #e6000e !important;
      color: #450004;
      // border: 1px solid $danger !important;
      svg {
        fill: #450004 !important;
      }
    }
    &--default-light {
      background-color: #F0F0F0 !important;
      color: #9B9B9D;
      // border: 1px solid $dark !important;
      svg {
        fill: #9B9B9D !important;
      }
    }
    &--primary {
      background-color: $primary-24 !important;
      color: $white;
      border: 1px solid $primary-24 !important;
      svg {
        fill: $white !important;
      }
    }
  }
  .cursor-default {
    cursor: default !important;
  }
}
.button-lib-buttons {
  .button {
    display: flex;
    justify-content: space-between;
    &--success {
      background-color: $success !important;
      font-weight: 600;
    }
    &--warning {
      background-color: #FFAB00 !important;
      color: #805500 !important;
      font-weight: 600;
      svg {
        fill: #805500 !important;
      }
    }
    &--pastdue {
      background-color: #ffab00 !important;
      font-weight: 600;
    }
    &--danger {
      background-color: #E6000E !important;
      font-weight: 600;
    }
    &--pending{
      background-color: #ebe700 !important;
      color: #757300 !important;
      font-weight: 600;
      // border: 1px solid #ffab00 !important;
      svg {
        fill: #757300 !important;
      }
    }
  }
}
.dark-theme {
  .button-override {
    .button {
      &--default-light {
        background-color: #292730 !important;
        color: #8D8D8F;
        // border: 1px solid $dark !important;
        svg {
          fill: #8D8D8F !important;
        }
      }
    }
  }
}
