.dark-theme{
.page_title {
    .customStyle{
      font-size: 14px !important;
      color:$gray4 !important;
    }
    .page__header__bread__title {
      aside{
        color:$white !important;
      }
    }
}
}