
.table {
    width: 100%;
    height: max-content;
    margin: 0;
    $self: &;
    // tr {
    //   height: 2.5rem;
    // }
  
    th,
    td {
      padding-left: 8px;
      padding-right: 6px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &--light {
      background: $light-sub2;
  
      #{$self}__hrow {
        th {
          border-color: $gray11;
          background: $light-sub2;
        }
      }
      #{$self}__irow {
        &:hover{
          td{
            background: $light-sub2;
          }
        } 
        td {
          border-color: $gray11;
          background: $white;
          &:hover {
            cursor: default; 
            // background: $gray11;
             
          }
        }
      }
    }
    &--dark {
      background: $dark;
      #{$self}__hrow {
        th {
          border-color: $surface-tertiary;
          background: $dark;
        }
      }
      #{$self}__irow {
        &:hover{
          td{
            background: $dark;
          }
        }
        td {
          border-color: $surface-tertiary;
          background: $black;
          &:hover {
            cursor: default; 
            background: $dark;
            border-left: $surface-tertiary 1px solid;
          }
          &:active {
            //cursor: default;
            background: $dark;
            border-left: $surface-tertiary 1px solid;
          }
          &.active {
            background: $dark;
            border-left: $surface-tertiary 1px solid;
          }
        }
      }
    }
    &__hrow {
      height: 2.5rem;
      color: $gray5;
      font-size: 13px;
      font-weight: bold;
  
      th {
        border: $gray4 1px solid;
        text-align: left;
  
        &:not(:last-child) {
          border-right: none;
        }
  
        &.cell_action_header {
          width: 0rem;
        }
      }
  
      &__no {
        text-align: center !important;
      }
  
      &__active {
        border-bottom-color: $dark-sub1 !important;
        span {
          color: $dark-sub1 !important;
        }
      }
  
      &.collapsed {
        visibility: collapse;
      }
    }
  
    &__srow {
      font-weight: bold;
      cursor: pointer;
      user-select: none;
    }
  
    &__irow {
      color: $gray6;
      font-weight: 400;
      line-height: 2.5rem;
      font-size: $base-size;
      outline: 1px solid transparent;
      transition: background-color 0.3s linear, outline-color 0.3s linear;
      &-count {
        width: 60px;
      }
      td {
        border: 1px solid $light;
        &:not(:last-child) {
          border-right: none;
        }
        color: $gray5;
        &:first-child {
          text-align: center;
        }
      }
      &:nth-child(2) td {
        border-top: none;
      }
      &:not(:last-child) td {
        border-bottom: none;
      }
  
      
    }
  
    &__headless {
      border-top: 0;
      .table__hrow {
        visibility: collapse;
      }
    }
  }
  .table__hrow-fixed {
    position: sticky; // first row
    top: 50px;
    z-index: 4;
    left: 0;
  }
  
  .resizableTable {
    th,
    td {
      min-width: 100px;
      width: auto;
      max-width: 300px;
      resize: horizontal;
      overflow: auto;
      span {
        word-break: break-word;
      }
      &::-webkit-resizer {
        // background-color: transparent;
        height: 100%;
      }
    }
  }
  
  .dark-row {
    span {
      color: var(--bib-secondary) !important;
    }
  
  
    &:hover {
      & span {
        color: var(--bib-text-primary) !important;
      }
    }
  }