.dark-theme {
  .pop {
    border: 1px solid $border-primary !important;
  }
  //     .vdpComponent__input {
  //       color: $gray5 !important;
  //   }
  //   .vdpComponent__input:hover {
  //     color: $white !important;
  //     background-color: $black;
  //     border: 1px solid $white !important;
  // }
  // .table {
  //   &__hrow {
  //     background-color: $dark !important;
  //     color: $gray7 !important;
  //     th {
  //       border: $border-primary 1px solid !important;
  //     }
  //     &__active {
  //       border: 10px solid red !important;
  //     }
  //   }

  //   &__irow {
  //     color: $gray7 !important;
  //     background-color: $dark;
  //     td {
  //       border: 1px solid $border-primary !important;
  //       color: $gray7 !important;
  //     }
  //     &:hover {
  //       cursor: default;
  //       background-color: $dark-sub2 !important;
  //       border-color: $border-primary;
  //       td {
  //         border-left: $border-primary 1px solid !important;
  //       }
  //     }
  //   }
  //   .icon {
  //     fill: $white !important;
  //   }
  // }
  .table .table__hrow__active {
    border-bottom: 1px solid $border-primary !important;
    border-left: 1px solid $border-primary !important;

    span {
      color: $white !important;
    }
  }
  //   .timesheet-wrapper-main{
  //     .table__irow{
  //       background-color: $dark !important;
  //     }
  // }
  .chip-list-wrapper {
    &__light {
      li {
        color: $gray7 !important;
      }
    }
  }
  .info_wrapper {
    color: $gray7;
    font-weight: normal;
  }

  .chip-wrapper__bggray {
    background-color: $dark-sub3;
  }
  .chip-wrapper__bgdefault {
    background-color: $gray1;
    border: 1px solid $dark;
    border-radius: 6px;
    svg {
      fill: $secondary-sub2 !important;
    }
    span {
      color: $secondary-sub2;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .chip-wrapper__bgvacation {
    background-color: $primary;
    svg {
      fill: $white !important;
    }
    span {
      color: $white;
    }
  }
  .input {
    select {
      appearance: none;
      background-color: $dark !important;
      + .icon {
        z-index: 999 !important;
        pointer-events: none;
      }
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        background: $dark-sub1 !important;
      }
      &::-webkit-scrollbar-thumb {
        background: $dark-sub3 !important;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $dark-sub3;
        border-radius: 10px;
      }
    }
    &--disabled {
      input,
      textarea,
      select {
        color: $white !important;
        border-color: $dark-sub3 !important;
        background-color: $dark !important;
      }
      label {
        color: $white !important;
      }
    }
  }
  .date-picker--dark {
    label {
      color: $white !important;
    }
  }
  .vdpPeriodControl {
    button {
      color: $white;
    }
    select {
      color: $white !important;
      border-color: $dark-sub3 !important;
      background-color: $dark !important;
      option {
        color: $white !important;
      }
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        background: $dark-sub1 !important;
      }
      &::-webkit-scrollbar-thumb {
        background: $dark-sub3 !important;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $dark-sub3;
        border-radius: 10px;
      }
    }
  }
}
