.light-theme {
  .input {
    &--alert {
      input,
      textarea,
      select {
        color: $danger;
        border: 1px solid !important;

        &:hover {
          border-color: $danger;
        }
      }
    }
  }
  .vdpComponent__input:hover {
    border: 1.5px solid var(--bib-gray6) !important;
  }
  .vdpComponent {
    &__input {
      background: #fff !important;
    }
  }
  .table__irow td {
    color: $dark !important;
    border-right: none !important;
  }
}
.dark-theme {
  .pop {
    border: 1px solid $border-primary !important;
  }
  .table .table__hrow__active {
    border-bottom: 1px solid $border-primary !important;
    border-left: 1px solid $border-primary !important;

    span {
      color: $white !important;
    }
  }
  //   .timesheet-wrapper-main{
  //     .table__irow{
  //       background-color: $dark !important;
  //     }
  // }
  .chip-list-wrapper {
    &__light {
      li {
        color: $gray7 !important;
      }
    }
  }
  .info_wrapper {
    color: $gray7;
    font-weight: normal;
  }
  .week-list {
    .bib-time-picker--dark-theme .input-wrapper input {
      border: 0px solid var(--bib-gray6) !important;
      border-radius: 8px !important;
    }
    .bib-time-picker--dark-theme .input-wrapper input:hover {
      border: 1px solid var(--bib-gray6) !important;
    }
  }
  .bib-time-picker {
    input,
    select {
      border-color: $dark-sub3 !important;
    }
  }
  .input {
    &--null {
      &:not(.input--disabled) {
        label {
          color: $white !important;
        }
      }
    }
    select:hover,
    input:hover {
      border-color: var(--bib-gray6) !important;
    }
    input,
    select {
      border-color: $dark-sub3 !important;
    }
    select {
      appearance: none;
      background-color: $dark !important;
      + .icon {
        z-index: 999 !important;
        pointer-events: none;
      }
      $size: 12px;
      $foreground-color: var(--bib-text-secondary);
      $background-color: black;
      &::-webkit-scrollbar {
        width: calc($size + 3px);
        height: calc($size + 3px);
      }

      // For Firefox
      scrollbar-color: $foreground-color $background-color;
      // For Webkit browsers
      &::-webkit-scrollbar-thumb {
        background: var(--bib-text-secondary);
        background-clip: content-box;
        border: 3px solid transparent;
      }

      &::-webkit-scrollbar-track {
        background: $background-color;
      }
    }
    &--disabled {
      input,
      select {
        background-color: $dark-sub1 !important;
        border-color: $dark-sub3 !important;
      }
    }
  }
  .vdpComponent {
    .input--null {
      .date-picker--dark {
        label {
          color: $white !important;
        }
      }
    }
  }
  .vdpPeriodControl {
    button {
      color: $white;
    }

    select {
      color: $white !important;
      border-color: $dark-sub3 !important;
      background-color: $dark !important;
      option {
        color: $white !important;
      }
      $size: 12px;
      $foreground-color: var(--bib-text-secondary);
      $background-color: black;
      &::-webkit-scrollbar {
        width: calc($size + 3px);
        height: calc($size + 3px);
      }

      // For Firefox
      scrollbar-color: $foreground-color $background-color;
      // For Webkit browsers
      &::-webkit-scrollbar-thumb {
        background: var(--bib-text-secondary);
        background-clip: content-box;
        border: 3px solid transparent;
      }

      &::-webkit-scrollbar-track {
        background: $background-color;
      }
    }
  }
  .of-scroll-y {
    scrollbar-color: var(--bib-text-secondary) transparent !important;
  }
  .chip-wrapper-without-bg {
    border-radius: 1rem;
    // padding: 4px 8px;
    // margin-right: 10px;

    background-color: $dark;
    &__bg_success {
      color: $success;
      svg {
        fill: $success !important;
      }
      span {
        color: $success !important;
        font-weight: 400;
        font-size: 14px;
      }
    }
    &__bgpending {
      color: $success;
      svg {
        fill: #ffab00 !important;
      }
      span {
        color: #ffab00;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  .page_title {
    color: var(--bib-secondary);
  }
  .tiptap {
    a {
      color: $primary-sub1 !important;
    }
  }
  .avtar-contain {
    background-color: $dark-sub3 !important;
    border-radius: 50% !important;
    span {
      background-color: transparent !important;
    }
    .avatar__text {
      color: $light !important;
      background-color: none !important;
    }
  }
  .fc-day-today {
    background-color: red !important;
    font-weight: bold;
  }
}
