@import "../assets/variable.scss";
html,
body {
  font-family: $font-family;
}

.fc-event:focus::after {
  background: none !important;
  inset: -1px;
  content: "";
  position: absolute;
  z-index: 0;
}
.validation-text {
  font-size: 12px;
  height: 27px;
  margin-top: -6px;
  animation: fadeInAnimation ease 2s;
}
.modal__wrapper__content[data-v-87ee3dba] {
  padding: 1rem 1rem 0 1rem;
}
.scroll_wrapper_sm {
  height: 150px !important;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.switcher_label {
  color: $dark;
}
.py-cus {
  padding: 24px 0;
}
.px-cus {
  padding: 0 25px;
}
.px-cus-48 {
  padding: 0 32px;
}
.error-message {
  padding: 0 0 0.5rem 2px;
  margin-top: -10px;
  small {
    margin-top: -10px;
  }
}
.custom-input {
  input {
    margin-bottom: 16px !important;
  }

  label {
    font-weight: 600;
  }
}

.row-custom {
  margin: 0 -8px;
}
.cursor-pointer {
  cursor: pointer;
}
.bottom_border_wrapper {
  border-bottom: 1px solid $secondary-sub3 ;
}
.bottom_top_wrapper {
  border-top: 1px solid $secondary-sub3;
}
/** layout **/
.row {
  display: flex;
  margin: 0 -0.5rem;
}
.container {
  [class*="col"] {
    padding: 0 0.5rem;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    max-width: #{math.div(round(math.div(100%, 12) * $i * 10000), 10000)};
    flex: 0 0 #{math.div(round(math.div(100%, 12) * $i * 10000), 10000)};
  }
}

.flex {
  &-shrink-0 {
    flex-shrink: 0;
  }
  &-shrink-1 {
    flex-shrink: 1;
  }
}
.light-green {
  background-color: #f0f9ef;
}

// .nav-section{
//   border: 0px !important;
// }
.drawer-enter-active {
  animation: slidein-right 0.2s;
}

.drawer-leave-active {
  animation: slidein-right 0.2s reverse;
}
// .nav_wrapper{
//   height: 3rem;
// }
.tab-wrapper {
  .tabs {
    height: 3rem !important;
    border-bottom: 0px solid var(--bib-secondary-sub2) !important;
    button {
      padding: 0 !important;
      margin-right: 1rem;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .tabs button.active {
    font-weight: 600;
  }
}

.button_color-wrapper {
  background-color: #f0f9ef;
}
.custom_date_picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  .vdpComponent__input {
    display: flex;
    align-items: center;
  }
  input {
    border: none !important;
    background-color: $light;
    border-radius: 6px;
    font-size: 14px;
    width: 300px !important;
    // margin: 0 1rem;
  }
}

// infocard leave vacations

.info-card-leave-wrapper {
  padding: 24px;
  font-size: 14px;
  background: $white;
  border-radius: 24px;
  border: 1px solid $secondary-sub3;
  overflow-wrap: break-word;
  label {
    font-size: 1rem !important;
    font-weight: 600;
    color: $dark;
  }
  .info-card-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .subheading {
      font-weight: 500;
      color: $secondary-sub1;
      margin-bottom: -10px;
      font-size: 14px;
    }
    span {
      font-size: 56px;
      font-weight: 500;
      margin-left: -4px;
    }
    .subheading_footer {
      font-weight: 500;
      color: $secondary-sub1;
      margin-top: -10px;
    }
    &_desc {
      font-size: 10px;
    }
  }
  .footer-item {
    padding-top: 8px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    .items {
      display: flex;
      justify-content: space-between;
      width: 48%;
      border-bottom: 1px solid $light;
      height: 40px;
      // padding-right: 10px;
      align-items: center;
      
      label {
        color: $secondary-sub1;
        font-weight: normal;
        font-size: 14px;
        padding-right: 10px;
      }
      span {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
.button-wrapper {
  background-color: $light;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__bgsucess {
    background-color: $success;
    svg {
      fill: $white !important;
    }
    span {
      color: $white;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__bgprimary {
    background-color: #0741a3;
    svg {
      fill: $white !important;
    }
    span {
      color: $white;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__bgalert {
    background-color: #d9000d;
    svg {
      fill: $white !important;
    }
    span {
      color: $white;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__bgwarnning {
    background-color: #f7b500;
    svg {
      fill: $white !important;
    }
    span {
      color: $white;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.app-wrapper__navigation--collapsed {
  padding: 0 !important;
}
.nav-item__symbol {
  margin-right: 1px !important;
}
.overlap-zindex {
  z-index: 999;
}
.app-wrapper--collapsed2 {
  [class*="col"] {
    padding: 0 !important;
  }
}
.input-drag-area-180 {
  background-color: #d9000d !important;
  display: flex;
  align-items: center;
  font-size: 20px !important;
}
.d-align {
  display: flex;
  justify-content: center;
}
// .vdpBottom{
//   display: none !important;
// }
.table {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.table__hrow th:first-child {
  border-left: none !important;
  padding-left: 1.1rem !important;
}
.table__hrow th:last-child {
  border-right: none !important;
}
.table__irow td {
  color: $black !important;
  border-right: none !important;
}
.table__irow td:first-child {
  padding-left: 0.9rem !important;
  border-left: none !important;
}
.table__hrow-fixed {
  position: sticky;
  top: -1px !important;
  z-index: 4;
  left: 0;
}
.capitalize {
  text-transform: capitalize;
}
.max-z-index {
  z-index: 99999999999999999999999 !important;
}
.max-min-z-index {
  z-index: 1000000 !important;
}
.min-z-index {
  z-index: 10000 !important;
}
.height-1 {
  height: 1px !important;
}
.input--alert {
  span {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}
.button-wrapper-align {
  .align-center {
    display: flex !important;
    justify-content: center !important;
  }
}

